<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="bayernatlas-fluid-css"
             href="EXT:bayernatlas_fluid/Resources/Public/Css/BayernAtlas.css"
             inline="0"
             useNonce="1"/>

<f:asset.script identifier="bayernatlas-fluid-component"
                src="https://atlas.bayern.de/wc.js"
                priority="1"
                inline="0"
                useNonce="1"/>

<f:asset.script identifier="bayernatlas-fluid-integration"
                src="EXT:bayernatlas_fluid/Resources/Public/JavaScript/BayernAtlas.js"
                type="module"
                inline="0"
                useNonce="1"/>
</html>
